<div id="home-block-item">
    <li style="font-size: 20px; color:#fff;">--------------------------------------------------------------------------------------------------------------------------------------------------------------------</li>
    <br><br>
    <a href="/detail?id={{.Id}}" style="font-size: 20px; color:#fff; padding: 0 20px 0 0; float: left">{{.Title}}</a>
    <div style="font-size: 15px; color:#fff; float: right;
    padding: 0 20px 0 0; ">点赞量：{{.Like}} || 浏览量：{{.Read}} || {{.Author}} || {{.Tag}}</div>
    <br>
    <div style="font-size: 15px; color: #fff; float: left">简介：{{.Short}}</div>
    <br><br>
    <a href="/update?id={{.Id}}" style="font-size: 15px; color:#fff; padding: 0 20px 0 0; float: right">修改博客</a>
    <a href="/delete?id={{.Id}}" style="font-size: 15px; color:#fff; padding: 0 20px 0 0; float: right">删除博客</a>
    <br>
    <li style="font-size: 20px; color:#fff;">--------------------------------------------------------------------------------------------------------------------------------------------------------------------</li>
    <br>
</div>