<div id="home-block-item">
    <li style="font-size: 20px; color:#fff;">-------------------------------------------------------------------------------</li>
    <br><br>
    <p style="font-size: 20px; color:#fff; padding: 0 20px 0 0; float: left">{{.NotedName}}：</p>
    <br>
    <div style="font-size: 15px; color: #fff; float: left">{{.Content}}</div>
    <br>
    <li style="font-size: 20px; color:#fff;">-------------------------------------------------------------------------------</li>
    <br>
</div>