<div id="home-block-item">
    <li style="font-size: 20px; color:#fff;">--------------------------------------------------------------------------------------------------------------------------------------------------------------------</li>
    <br><br>
    <a href="/info_center?id={{.Id}}" style="font-size: 18px; color:#fff; padding: 0 20px 0 0; float: left">{{.Username}}</a>
    <div style="font-size: 15px; color:#fff; float: right; padding: 0 20px 0 0; ">电话号码：{{.Phone}}</div>
    <br><br>
    <li style="font-size: 20px; color:#fff;">--------------------------------------------------------------------------------------------------------------------------------------------------------------------</li>
    <br>
</div>