<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/icon.css">
    <link rel="stylesheet" href="../static/css/f.css">
    <link rel="stylesheet" href="../static/js/layui/css/layui.css">
    <title>好友个人页面</title>
</head>

<body style="background-color:rgb(68, 68, 68)">
    <ul class="layui-nav aaa">

        <li class="layui-nav-item">
            <a href="javascript:;">{{.Username}}</a>
            <dl class="layui-nav-child">
                <dd><a href='javascript:if (confirm("确定退出登录么？")){location="/exit"}'>退出登录</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="/">首页</a>
            <!--首页跳转-->
        </li>
        <li class="layui-nav-item">
            <a href="/selfhome">个人主页</a>
        </li>
        <li class="layui-nav-item">
            <a href="/write">撰写博客</a>
        </li>
        <li class="layui-nav-item">
            <a href="/collect">我的收藏</a>
        </li>
        <li class="layui-nav-item">
            <a href="/mine">我的博客</a>
        </li>
        <li class="layui-nav-item">
            <a href="/friend">我的好友</a>
        </li>
    </ul>
    <iframe width="280" scrolling="no" height="300" frameborder="0" allowtransparency="true"
            src="https://i.tianqi.com?c=code&id=55&color=%23FFFFFF&bgc=%23000000&icon=1&site=12" style="float: right"></iframe>
    <div id="message">
        <p id="out" style="font-size: 40px;padding: 60px; color: #ffffff;">个人资料</p>
        <div id="main" style="float: left; height: 390px; margin: 0 0 50px 0;width: 1500px;">
            <img src="{{.Img}}" alt="" data-position="center center"
                 style="border-radius:50%;max-width:100px;max-height:100px;position: absolute; left: 15%; top: 30%;">
            <br><br>
            <div style="position: absolute; left: 15%; top: 45%;">
            <div style="font-size: 20px; color:#fff; float: left; padding: 0 20px 0 0; ">用户名：</div>
            <input type="text" placeholder="请输入用户名" name="username" value="{{.Username}}" style="font-size: 20px; " disabled>
            <br><br>
            <div style="font-size: 20px; color:#fff; float: left; padding: 0 20px 0 0; ">电话：　</div>
            <input type="text" placeholder="请输入电话号码" name="phone" value="{{.Phone}}" style="font-size: 20px; " disabled>
            <br><br>
            <div style="font-size: 20px; color:#fff; float: left; padding: 0 20px 0 0; ">用户Id：</div>
            <input type="text" placeholder="请输入Id" name="userId" value="{{.userId}}" style="font-size: 20px; " disabled>
            <br><br>
            </div>
        </div>
        <div>
            <a href="/note?id={{.userId}}" style="font-size: 20px;padding: 60px; color: #ffffff;position: absolute; left: 45%; top: 10%">|　留言板　|</a>
            <div class="content" style="text-align:center;border-width:1px;border-style:solid;border-color:rgb(2, 204, 245);
            background-color:#79918e6b;border-radius:20px; position: absolute; left: 47%; top: 25%;">
                <div style="color:#fff;font-size: 15px;">
                    <li style="font-size: 20px; color:#fff;">********************************************************************</li>
                    <br>
                    {{.Content}}
                    <br>
                    <li style="font-size: 20px; color:#fff;">********************************************************************</li>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div style="width: 1100px;background-color: rgb(68, 68, 68);float: left;padding: 0 50px 0 50px;">
            <li class=" top "><p class="copyright" style="font-size:3vh;color:#fff;float: right">© 2021 — 2022</p></li>
        </div>
    </div>
</body>
<script src="../static/js/jQuery.min.js"></script>
<script src="../static/js/layer-v3.1.1/layer/layer.js"></script>
<script src="../static/js/jquery.form.js"></script>
<script src="../static/js/layui/layui.js"></script>
<script src="../static/js/lib/jquery-3.3.1.min.js"></script>
<script src="../static/js/lib/jquery.url.js"></script>
<script src="../static/js/blogs.js"></script>
<script src="../static/js/f.js"></script>
<script src="../static/js/alter.js"></script>
<script type="text/javascript" color="255,255,255" opacity='0.7' zIndex="-2" count="200" src="../static/selfhome/files/back.js"></script>

</html>